//Font weight
$thin: 200;
$light: 300;
$regular: normal;
$medium: 500;
$semibold: 600;
$bold: bold;

//Font
$font: Nunito;

//Colors
$primary: #658FFF;
$white: #FFF;
$white-secondary: #FBFBFB;
$white-dark: #F6F6F6;
$gray: #545454;
$gray-light: #949494;
